<div class="registration">
    <div class="chat-registration" style="width: 40%; margin-top: 2rem" >
    <h1 class="chat-registration--title">Sign Up</h1>
    <div class="login-forgot">
        <small id="smSignIn" class="small-link">Or sign in</small>
    </div>
    <div class="chat-login--form">
        <div class="errosSignUp" style="margin-bottom: 1rem; color: red;">
            
        </div>
        <form id="signUp" action="/sign-up" method="POST" >
            <div class="form-control-inline rounded-purple">
                <div class="form-control-inline--icon">
                    <i class="fas fa-at"></i>
                </div>
                <input name="email" type="email" class="form-control-inline--input" placeholder="Email">
            </div>
            <div class="form-control-separator" style="padding: .5rem;"></div>
            <div class="form-control-inline rounded-purple">
                <div class="form-control-inline--icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <input name="nickname" type="text" class="form-control-inline--input" placeholder="Nickname">
            </div>
            <div class="form-control-separator" style="padding: .5rem;"></div>
            <div class="form-control-inline rounded-purple">
                <div class="form-control-inline--icon">
                    <i class="fas fa-key"></i>
                </div>
                <input name="password" type="password" class="form-control-inline--input" placeholder="Password">
            </div>
            <button class="login-button">Confirm</button>
        </form>
    </div>
</div>
</div>
{{!-- Registration --}}
<div class="login">
    <div class="chat-login" style="width: 40%; margin-top: 2rem" >
    <h1 class="chat-login--title">Sign in</h1>
    <div class="chat-login--rr-ss">
        {{!-- <div class="rr-ss">
            <small>Facebook</small>
            <small>Gmail</small>
            <small>Twitter</small>
        </div> --}}
        <div class="login-forgot">
            <small id="smSignUp" class="small-link">Or sign up</small>
        </div>
    </div>
    <div class="chat-login--form">
        <div class="errosSignIn" style="margin-bottom: 1rem; color: red;">
            
        </div>
        <form id="SignIn" action="" method="POST" >
            <div class="form-control-inline rounded-purple ">
                <div class="form-control-inline--icon">
                    <i class="fas fa-at"></i>
                </div>
                <input name="email" type="text" class="form-control-inline--input" placeholder="Email">
            </div>
            <div class="form-control-separator" style="padding: .5rem;"></div>
            <div class="form-control-inline rounded-purple ">
                <div class="form-control-inline--icon">
                    <i class="fas fa-key"></i>
                </div>
                <input name="password" type="password" class="form-control-inline--input" placeholder="Password">
            </div>
            {{!-- <div class="login-forgot"><a href="#"><small>Forgot your password?</small></a></div> --}}
            <button class="login-button">Confirm</button>
        </form>
    </div>
</div>
</div>
{{!-- Login --}}
<div class="global-chat">
    <div class="chat-users">
        <div class="chat-users--search rounded">
            <form id="searchUser">
                <div class="form-control-inline">
                    <div class="form-control-inline--icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <input id="searchUserInput" type="search" class="form-control-inline--input" placeholder="Search contact">
                </div>
            </form>
        </div>
        <div class="chat-users--list rounded" >
            <div id="usersList" class="chat-users--list-scroll">
                {{!-- users connected --}}
            </div>
        </div>
    </div>

    <div class="chat-box">
        {{!-- <div class="chat-box-user">
            <h2 class="chat-box-user--name">Steven Crown</h2>
            <div class="chat-box-user--state"></div>
        </div> --}}
        <div class="chat-box--block">
            <div class="chat-box-message rounded">
                <div id="chatBox" class="chat-box-message--scroll">
                    {{!-- messages --}}
                </div>
            </div>
            <div class="chat-box-send rounded">
                <form id="sendMessage">
                    <div class="form-control-inline">
                        <input id="sendMessageInput" type="text" style="padding: .4rem 0" 
                            class="form-control-inline--input" placeholder="Enter some message text ...">
                        {{!-- <div class="form-control-inline--icon icom-right">
                            <i class="fas fa-grin-tongue-squint" title="add emoji"></i>
                        </div> --}}
                        <button class="form-control-inline--icon icom-right" style="cursor: pointer;border: none;border-left: 1px solid var(--blue); background: none">
                            <i class="fas fa-location-arrow" title="send message" style="font-size: 1.5rem; color: var(--purple)"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- Gloabl chat --}}