<nav class="navigation">
    <div class="container nav">
        <div class="nav--brand">
            <strong>CHATTING</strong>
        </div>
        <div class="nav--wellcome">
            <div class="wellcome">
                <div class="wellcome--user">
                    <strong>Getto Killua</strong>
                </div>
                <div class="chat-user-img wellcome--user-img">
                    <img src="img/profile5.jpg" alt="">
                </div>
                <div class="nav-dropdown">
                    <div class="nav-dropdown--btn">O</div>
                    <div class="nav-dropdown--list rounded">
                        <div class="dropdown ">
                            <div class="dropdown-item">Change image</div>
                            <div class="dropdown-item">Logout</div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</nav>